/java-Simple-Factory-Pattern/java-Simple-Factory-Pattern.iml
*.exe
*.dev
*.xml
*.class
*.ipch
*.obj
*.tlog
*.ilk
*.recipe
*.pdb
*.log
*.idb
*.txt
*.vcxproj
*.filters
*.user
SJTU/.vs/SJTU/v16/.suo
SJTU/.vs/SJTU/v16/Browse.VC.db
SJTU/.vs/SJTU/v16/Browse.VC.db-shm
SJTU/.vs/SJTU/v16/Browse.VC.db-wal
SJTU/.vs/SJTU/v16/Browse.VC.opendb
*.iml
*.zip
*.layout
*.o
